/*==========GENERAL PARAM==========*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  color: rgb(75, 74, 74);
}

.remove__margin_padding {
  margin: 0 !important;
  padding: 0 !important;
}

li {
  list-style-type: none;
}
/*==========HEADER==========*/

header {
  height: 100vh;
}
.my__navStyle {
  position: relative;
  margin: 0;
  padding: 0;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  top: 0;
  z-index: 100;
}

.navbar-nav {
  margin: 40px 0 33px 73px;
}

.inner__header__social__icons_main {
  margin: 10px 0 33px 73px;
}

.header__search {
  margin-left: 2em;
  margin-top: 0.6em;
}

.inner__header__row__social__links {
  width: 0.3em;
  height: 0.3em;
  border-radius: 50%;
  text-align: center;
  margin: 5px 3px 0 1px;
}

.inner__header__social__icons > img {
  height: 12px;
  width: 12px;
  margin-top: -9px;
}

.inner__header__social__icons {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  text-align: center;
  margin: 5px 5px 0 1px;
}

.fb {
  background: #4e6297;
  border: 1px solid #4e6297;
}

.google {
  background: #c5331e;
  border: 1px solid #c5331e;
}

.whatsApp {
  background: #48c95f;
  border: 1px solid #48c95f;
}

.viber {
  background: #7c509a;
  border: 1px solid #7c509a;
}

#inner__header__flag {
  margin-left: 950%;
}

/*search start*/

.dropbtn {
  background-color: #f8f8f8, 80%;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  opacity: 0.7;
}

#myInput {
  box-sizing: border-box;
  background-image: url("../img/header/search.svg");
  background-position: 10px 3px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 14px 20px 12px 45px;
  border: none;
  border-bottom: 1px solid #ddd;
  max-width: 186px;
  height: 26px;
  background-color: inherit;
  opacity: 0.9;
}

#myInput:focus {
  outline: 2px solid #efefef;
  background-color: inherit;
  opacity: 0.8;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #d4d4d4;
  min-width: 186px;
  overflow: auto;
  border: 1px solid #d4d4d4;
  z-index: 1;
  opacity: 0.9;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: rgb(245, 245, 245);
}

.show {
  display: block;
}

/*search end*/

/*slider*/

.inner__header__big__sliderBlock {
  position: relative;
  top: -99%;
}

.header__slider__img {
  position: relative;
  text-align: center;
  z-index: 555;
}

.header__slider__img::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 967px;
  border-left-width: 0px;
  border-bottom: 286px solid #fff;
}

.header__slider__img::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0px;
  border-left-width: 967px;
  border-bottom: 286px solid #fff;
}

.header__slider__img > img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.header__slider__style {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -9999;
}

.inner__header__slider__description {
  position: absolute;
  left: 16.7%;
  top: 8em;
}

.inner__header__slider__description > h2 {
  width: 350px;
  text-transform: capitalize;
  margin-bottom: 40px;
  color: #20407c;
  font-size: 48px;
  font-weight: 800;
}
.my__btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border: none;
  color: #ffffff;
  font-size: 18px;
  background: #383838;
  padding: 16px 66px 16px 66px;
  text-decoration: none;
}

.my__btn:hover {
  background: #20407c;
  text-decoration: none;
}

/* slider and dots*/
.my-dots {
  position: absolute;
  bottom: 55%;
  right: 0;
  display: block;
  width: max-content;
  padding: 0;
  list-style: none;
  text-align: end;
  transform: rotate(90deg);
  z-index: 9999;
}

.my-dots li {
  position: relative;
  right: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.my-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
}

.my-dots li button:hover,
.my-dots li button:focus {
  outline: none;
}

.my-dots li button:hover:before,
.my-dots li button:focus:before {
  opacity: 1;
}

.my-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  content: "";
  text-align: center;
  opacity: 0.25;
  color: #6a696a;
  background-color: #fff;
  border-radius: 50%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.my-dots li.slick-active button:before {
  opacity: 0.75;
  color: #6a696a;
}
/*===========End Header==========*/

/*===========Above us==========*/

.inner__aboveUS__big__block__img {
  margin-top: 2.5em;
}

.sections__title__text {
  font-weight: 900;
  font-size: 24px;
  text-transform: uppercase;
}

.inner__abiveUS__subtitle__img {
  width: 23.1rem;
  text-transform: capitalize;
  text-align: center;
  margin: 1em 0 1em 0;
}

.above__us__img__item {
  object-fit: cover;
}

/*=========== End Above us==========*/

/*===========Products==========*/
.products {
  margin-top: 8em;
  margin-bottom: 2em;
}

.border__top__on__description {
  border-top: 3px solid #232323;
  width: 19em;
}

.btn__on__slider {
  text-align: center;
}

/*slider*/

.item__slide__ > img {
  margin-right: auto;
  margin-left: auto;
}

.btn__on__slider {
  margin-left: 27%;
}

.your-class_2 {
  position: relative;
  padding: 0 40px;
}

.sprite-next {
  left: 100px;
  background-repeat: no-repeat;
  width: max-content;
}

.sprite-next > img {
  position: absolute;
  left: 0;
  top: 50%;
}

.sprite-prev > img {
  position: absolute;
  right: 0;
  top: 50%;
} /*=========== End Products==========*/

/*=========== Start services==========*/

.servicec {
  margin-top: 8em;
  margin-bottom: 8em;
}

.background__ofcontainer__services {
  background: url("../img/services/image\ 23.png");
  height: 28em;
  background-size: cover;
}

.inner__services__block__tringle {
  position: relative;
  background-color: #232323;
  opacity: 0.9;
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  padding: 11em 2.3em;
  margin-right: 0.7em;
}

.inner__services__block__tringle::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 250px;
  border-left-width: 0px;
  border-bottom: 67px solid rgb(255, 255, 255);
}

.inner__services__block__tringle::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 0px;
  border-left-width: 250px;
  border-bottom: 67px solid rgb(255, 255, 255);
}

/*=========== End services==========*/

/*=========== Start news==========*/

.news__promotion {
  margin-top: 11em;
  margin-bottom: 8em;
}

.up__description__of__section {
  position: relative;
}

.up__description {
  position: absolute;
  top: -3em;
}

.inner__news__block {
  background: url("../img/news/Group\ 68.png");
  height: 23.5em;
  background-size: cover;
}

.inner__news__block__left {
  position: absolute;
  left: -23%;
  top: 0;
  background: #232323;
  opacity: 0.9;
  max-width: 57em;
  clip-path: polygon(0% 0%, 88% 0, 100% 50%, 87% 100%, 0% 100%);
}

.inner__news__block__right {
  position: absolute;
  right: 0;
  margin-top: 3.4em;
}

.inner__news__block__left__text {
  margin-left: 33.3%;
  padding: 4em 0 4em 0;
}

.inner__news__block__left__text > p {
  color: #fff;
  width: 500px;
  font-size: 18px;
}
/*=========== End news==========*/

/*=========== Start ouer partners==========*/

.ouer__partners {
  margin-top: 1em;
  margin-bottom: 8em;
}

.inner__ouerPartners__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 364px;
  height: 274px;
  margin: auto;
  /*
  background: #ddd;
  opacity: 0.7;
  z-index: -99;
  */
}

.inner__ouerPartners__logo > img {
  z-index: 999;
}

#ex_exfactor_logo {
  width: 20em;
}

/*=========== End ouer partners==========*/

/*=========== Start map==========*/
.map_ {
  margin-top: 1em;
  margin-bottom: 8em;
}
/*=========== End map==========*/

/*=========== Start footer==========*/
  footer {
    margin-top: 1em;
    margin-bottom: 8em;
  }

  .social_links_for_footer {
    margin-left: -4.5em;
    margin-top: 1em;
  }
/*=========== End footer==========*/

/***************************************************************************************/

/*=========== Start MEDIA==========*/

@media screen and (max-width: 1588px) {
  .header__slider__img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 867px;
    border-left-width: 0px;
    border-bottom: 186px solid #fff;
  }

  .header__slider__img::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 0px;
    border-left-width: 867px;
    border-bottom: 186px solid #fff;
  }
}

@media screen and (max-width: 1399px) {
  #navbarNavAltMarkup {
    margin-left: -3em;
  }
}

@media screen and (max-width: 1349px) {
  #inner__header__flag {
    margin-left: 350%;
  }
}

@media screen and (max-width: 1233px) {
  .inner__header__social__icons_main {
    margin-left: 2em;
  }
}

@media screen and (max-width: 1200px) {
  #myInput {
    max-width: 8em;
    margin-left: -1em;
  }

  .dropdown-content {
    min-width: 8em;
    margin-left: -0.99em;
  }

  .header__nav__media {
    margin-left: 3em;
  }

  .inner__aboveUS__big__block__img__item {
    width: 259px;
  }
}

@media screen and (max-width: 1164px) {
  #inner__header__flag {
    margin-left: 450%;
  }
}

@media screen and (max-width: 1198px) {
  .inner__header__social__icons_main {
    margin: 10px 0 33px 43px;
  }

  #inner__header__flag {
    margin-left: 50%;
  }
}

@media screen and (max-width: 1148px) {
  .header__slider__img::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 667px;
    border-left-width: 0px;
    border-bottom: 186px solid #fff;
  }

  .header__slider__img::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 0 solid transparent;
    border-right-width: 0px;
    border-left-width: 667px;
    border-bottom: 186px solid #fff;
  }
}

@media screen and (max-width: 1111px) {
  .inner__header__social__icons_main {
    margin-left: 1em;
  }
}

@media screen and (max-width: 1094px) {
  .header__nav__media {
    margin-left: 0.5em;
  }

  #navbarNavAltMarkup {
    margin-left: -20px;
  }

  .inner__header__social__icons_main {
    margin: 10px 0 33px 13px;
  }

  #inner__header__flag {
    margin-left: 50%;
  }
}

@media screen and (max-width: 1068px) {
  .header__nav__media {
    margin-left: -1.9em;
  }
}

@media screen and (max-width: 1021px) {
  .navbar__nav__media {
    margin-left: 1.1em;
  }
}

@media screen and (max-width: 992px) {
  #myInput {
    margin-left: -1.9em;
  }

  .navbar__nav__media {
    margin-left: 1.1em;
  }
}

@media screen and (max-width: 991px) {
  .header__nav__media {
    margin-left: 5em;
  }
}

@media screen and (max-width: 660px) {
  .inner__header__slider__description {
    top: 5em;
  }
}

@media screen and (max-width: 464px) {
  .header__nav__media {
    margin-left: 1em;
  }
}

@media screen and (max-width: 420px) {
  .inner__header__slider__description {
    left: 1em;
  }
}

@media screen and (max-width: 366px) {
  .inner__header__slider__description {
    width: 1em;
  }

  .inner__header__slider__description > h2 {
    font-size: 2.5em;
    margin-top: 0.5em;
  }

  .header__nav__media {
    margin-left: -1em;
  }
}

@media screen and (max-width: 348px) {
  .inner__header__slider__description {
    left: 3em;
  }
  .inner__header__slider__description > h2 {
    font-size: 2em;
    width: 8em;
  }
}
